<div class="system-message success">
  <%= form_tag user_path(@user), :id => 'undo' -%>
  <%= hidden_field_tag '_method', 'put' %>
  <% params[:unfollow].each do |user| -%>
      <input type="hidden" name="follow[]" value="<%= user %>" />
  <% end -%>
  <p><%= t("you_unfollowed") %> <%= raw comma_seperated_usernames params[:unfollow] %>. <%= raw t(:undo_or_dismiss_this, :undo_link => link_to(t(:undo_link_text), '', 'data-submit' => 'undo'), :dismiss_link => link_to(t(:dismiss_link_text), '', :'data-destroy' => "system-message.success")) %></p>
  </form>
</div>
