<% 
@i ||= 1
if(user_counter % CONFIG['twitter_users_per_page'] == 0)
  if(user_counter != 0) -%>
    </div>
  <% end -%>
<div class="page num<%= @i %>">
<% 
@i+=1
end -%>
<div class="form-control user-checkbox-box <%= cycle('odd odd-row', 'even odd-row', 'odd even-row', 'even even-row') %>" data-deselectable="true">
  <img src="<%= user[:image] %>" />
  <div class="inner">
    <h4><%= link_to_twitter_profile user[:screen_name] %> <%# user['name'] %></h4>
    <input type="checkbox" name="<%= user[:screen_name] %>" value="1" <% if !user[:following].nil? %>checked="checked" data-init-checked="true"<% else %>data-init-checked=""<% end %>/>
   <% if !user[:status].nil? -%>
     <p class="tweet">
       "<%= truncate(user[:status], :length => 115) %>"
     </p>
  <% end -%>
  </div>
</div>
