<% content_for :js do -%>
  <%= javascript_include_tag 'form' %>
<% end -%>
<% content_for :before_header do -%>
  <%= form_tag save_path, :id => 'update-following-form' %>
<% end -%>
<% content_for :header do -%>
  <%= render 'users/current_user' %>
  <div id="save"><%= submit_tag t(:save) %></div>
<% end -%>
<% if !@users_acted_on.nil? -%>
  <%= render :partial => 'action_confirmation' %>
<% end -%>
<% if (cookies['dismissed_system-message.welcome'].nil?) # hack -%>
  <%= render :partial => 'sessions/new_session_message' %>
<% end -%>
<%= render :partial => 'following_list' %>
</form>
