<% if !signed_in? -%>
  <%= render 'sessions/login' %>
<% else -%>
  <% content_for :js do -%>
    <%= javascript_include_tag 'form' %>
  <% end -%>
  <% content_for :before_header do -%>
    <%= form_tag '/', :id => 'update-following-form' %>
  <% end -%>
  <% content_for :header do -%>
    <%= render 'users/current_user' %>
    <div id="save"><%= submit_tag 'Click here to save your changes' %></div>
  <% end -%>
  <% if !@users_acted_on.nil? -%>
    <%= render :partial => 'unfollow_confirmation' %>
  <% end -%>
  <%= render :partial => 'following_list' %>
  </form>
<% end -%>
